html{
    scroll-behavior:smooth;
  }

.content {
    max-width: 900px;
    margin: auto;
}

body {
    font-family: Montserrat;
    font-size: 16px;
}

#nav{
    width: 100%;
    display: inline-block;
    text-align: center;
    padding-top: 2em;
}

#links{
    right: 3em;
    top:1.75em;
    position: absolute;
}

#links2{
    top:2em;
    display: inline-block;
}

#logo{
    top:1em;
    left: .75em;
    position: absolute;
}

a {
    color: black; 
}

a.other {
    color: #b6c6a4;
}


a:hover{
    color: #b6c6a4;
    text-decoration: none;
}



.right {
    padding-right: 1.5em;
}

/* a:active{
    color: #b6c6a4;
    text-decoration: underline;
} */

img{
    border-radius: 10px;
}

.rectangle {
    height: 200px;
    width: 250px;
    background-color: #b6c6a4;
    border-radius: 10px;
  }

.button{
    border:solid black;
    border-width: 1.5px;
    background: none;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    white-space:nowrap
}

.button:hover{
    border:solid 1.5px #b6c6a4;
    background: none;
    text-align: center;
    display: inline-block;

}

.row{
    justify-content: center;
}

h3{
    font-size: 35px;
}

h2{
    font-size: 23px;
    line-height: 25px;
}

h1{
    font-size: 18px;
    line-height: 25px;
}


.intro{
    display: inline-block;
    padding-left: 50px;
    vertical-align: middle;

}

.card{
    border-radius: 10px;
    position: absolute;
    width: 510px;
    height: 450px;
    border: #FFFFFF;
    padding-left: 17.5px; 
    padding-top: 22.5px;
}

.card:hover{
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
    background: #FEFEFE;
    transition: 0.3s ease-in-out;
}

.grid-container{
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10px;
    row-gap: 15%;
}

.project{
    position: absolute;
    width: 475px;
    height: 325px;
    border-radius: 10px;
}

.blurb1{
    font-size: 18px;
    font-weight: bold;
}

.label{
    font-size: 15px;
    color: #888888;
    line-height: 20px;
    font-weight: lighter;
}

.footer{
    background-color: #e6e6e6;
    color: #000000;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    
}

.footer-links{
    display: inline-block;
}

hr{
    border-top: 1px solid rgb(200, 200, 200);
}